<div class="col-lg-4">
	<img class="img-circle"
		src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
		alt="Generic placeholder image" width="140" height="140"/>
	<h2>Mobile</h2>
	<p>+123 3434434534</p>
	<p>
		<a class="btn btn-default" href="#" role="button">View details
			&raquo;</a>
	</p>
</div>
<!-- /.col-lg-4 -->
<div class="col-lg-4">
	<img class="img-circle"
		src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
		alt="Generic placeholder image" width="140" height="140"/>
	<h2>Fax</h2>
	<p>+123 32423423423</p>
	<p>
		<a class="btn btn-default" href="#" role="button">View details
			&raquo;</a>
	</p>
</div>
<!-- /.col-lg-4 -->
<div class="col-lg-4">
	<img class="img-circle"
		src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
		alt="Generic placeholder image" width="140" height="140"/>
	<h2>Address</h2>
	<p>Palm Street 21312, Londra</p>
	<p>
		<a class="btn btn-default" href="#" role="button">View details
			&raquo;</a>
	</p>
</div>