<div class="col-lg-4">
	<img class="img-circle"
		src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
		alt="Generic placeholder image" width="140" height="140"/>
	<h2>Blood Test</h2>
	<p>I Really don't know what to write, Sorry.</p>
	<p>
		<a class="btn btn-default" href="#" role="button">View details
			&raquo;</a>
	</p>
</div>
<!-- /.col-lg-4 -->
<div class="col-lg-4">
	<img class="img-circle"
		src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
		alt="Generic placeholder image" width="140" height="140"/>
	<h2>TAC</h2>
	<p>Don't worry until our machinary's done.</p>
	<p>
		<a class="btn btn-default" href="#" role="button">View details
			&raquo;</a>
	</p>
</div>
<!-- /.col-lg-4 -->
<div class="col-lg-4">
	<img class="img-circle"
		src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
		alt="Generic placeholder image" width="140" height="140"/>
	<h2>ECG</h2>
	<p>Test your heart with our's last generation machinary.</p>
	<p>
		<a class="btn btn-default" href="#" role="button">View details
			&raquo;</a>
	</p>
</div>
<!-- /.col-lg-4 -->