      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="col-md-121 col-sm-7">
          <h2 class="featurette-heading">Amazing doctor, Amazing prices <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">We got the best doctors in the world, but everything has... You know... A PRICE </p>
        </div>
      </div>

      <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="col-md-122 col-sm-7">
          <h2 class="featurette-heading">Last Generation Machinary <span class="text-muted">You can, now.</span></h2>
          <p class="lead">No, we're not talking about medical machinary, we're talking about our's doctors supercars...</p>
        </div>
      </div>

      <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="col-md-123 col-sm-7">
          <h2 class="featurette-heading">We'll wait for you <span class="text-muted">And you will not.</span></h2>
          <p class="lead">Here, you can find the best cures for you, but we don't want you to be sick, clearly.</p>
        </div>
      </div>

      <hr class="featurette-divider"/>
